*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* maincontainer */
#main-container{
    height: 100Vh;
    width: 100%;
    display: flex;
}
#slider{
    width: 20%;
    height: 100vh;
    background-color:#fff;
}
#main{
    width: 80%;
    height: 100vh;
    background-color: burlywood;
}
.dashboard{
}
.dashbord>button{
    margin-top: 10px;
    position: relative;
    width: 100%;
    font-size: 27px;
    text-align: center;
    color: rgba(0,0,0,.9);
    background-color: transparent;
    border: none;
    padding: 10px;
}
.bxs-dashboard{
    position: absolute;
    color: #5e72e4 ;
    left: 15px;
}

.bxs-tennis-ball{
    position: absolute;
    color: #fb6340;
    left: 15px;
}
.dashbord>button:hover{
    background: #f6f9fc;
    transition: 3s,ease;
    border-radius: 25px;
}